<h1>About</h1>
<p>GameExplorer は、ユーザーがゲーム作品をレビューしたり、レビューを共有したりするためのアプリケーションです。</p>

ここに新着レビュー対象のゲームリストや、話題のレビュー対象のゲームのリストを作成予定

<div class="about-image">
  
</div>

<br>
<p>このアプリケーションでは以下の機能が提供されています</p>
<ul>
  <li>作品・ジャンル検索</li>
  <li>レビューの投稿と閲覧</li>
</ul>

