<h1>About</h1>
<p>GameExplorer は、ユーザーが作品をレビューしたり、評価を共有したりするためのアプリケーションです。</p>

<div class="about-image">
  
</div>

<p>このアプリケーションでは以下の機能が提供されています</p>
<ul>
  <li>作品・ジャンル検索</li>
  <li>レビューの投稿と閲覧</li>
</ul>