/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

header {
  background-color: #343a40;
}


 body {
  background-image: image-url("hoge.jpg");
}

header nav ul {
  list-style-type: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  text-decoration: none;
  color: #007BFF;
}

header nav ul li a:hover {
  color: #0056b3;
}

.about-background {
  background-image: url('about-bg.jpg'); /* 画像ファイルのパス */
  background-size: cover;  /* 画像を要素の大きさに合わせて拡大・縮小 */
  background-position: center center;  /* 画像を中央に配置 */
  background-repeat: no-repeat;  /* 画像の繰り返しを防止 */
  height: 100vh;  /* 高さを画面全体に */
  width: 100vw;
  color: white;  /* 文字色を白にして画像の上でも読みやすく */
  
  max-width: 100%; /* 横幅を最大化 */
  margin: 0 auto; /* 自動マージンで中央に配置 */
  padding: 0; /* 余白を取り除く */
  
  display: flex; /* Flexboxを使用 */
  flex-direction: column; /* 縦方向に並べる */
  justify-content: center; /* 垂直方向の中央配置 */
  align-items: center; /* 水平方向の中央配置 */
  text-align: center; /* テキストを中央揃え */
}

.about-background .text-container {
  background-color: rgba(0, 0, 0, 0.5);  /* 黒の背景で透明度50% */
  padding: 20px;  /* 内側に余白を追加 */
  border-radius: 10px;  /* 角を丸くする */
}

.about-background .text-container ul {
  padding: 0;
  list-style-type: none;  /* マーカーを非表示にする */
  text-align: center;  /* テキストを中央揃え */
}

.about-background .text-container ul li {
  margin: 10px 0;  /* アイテム間に余白を追加 */
}


h1, p {
  margin: 10px 0; /* テキスト間の余白を設定 */
}

.review-box {
  border: 1px solid #ddd;  /* ボックスの枠線 */
  background-color: #ffffff;  /* 背景色 */
  border-radius: 8px;  /* 角を丸く */
  padding: 15px;  /* 内側の余白 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0);  /* 軽い影 */
}

.review-box p {
  margin-bottom: 10px;  /* 段落間のスペース */
}

.review-box .btn {
  margin-right: 10px;  /* ボタン間のスペース */
}

.star {
  font-size: 24px;
  cursor: pointer;
  color: gray;
}

.star.selected {
  color: gold;
}

.stars {
  font-size: 18px;
  color: gold;
}