<h1>Admin Dashboard</h1>

<ul>
  <li><%= link_to '全ユーザー一覧', admin_users_path %></li>
  <li><%= link_to 'ゲーム一覧', admin_games_path %></li>
  <li><%= link_to 'ジャンル一覧', admin_genres_path %></li>
  <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete %></li>
</ul>